/* main > h2:nth-of-type(3) {
  background: pink;
} */
/* main > h2:nth-of-type(even) {
  background: pink;
} */
/* main > h2:first-of-type {
  background: pink;
}
main > h2:last-of-type {
  background:skyblue;
} */

/* li:empty {
  background: skyblue;
} */

/* li:not(:empty) {
  background: skyblue;
} */

/* #about > #main {
  color:grey;
}
h1 {
  color:red !important;
}

h1#main.box {
  color:yellow !important;
}

section > #main.title {
  color:blue;
}

section#about > h1 {
 color:pink;
} */

/* .container {
  display:flex;
}
.box {
  width: 100px;
  height: 100px;
}

.box1 {
  background: orange;
  flex:1;
}

.box2 {
  background: skyblue;
}

.box3 {
  background: tomato;
} */

/* html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background:pink;
  margin-bottom: 100px;
}

.container {
  display:flex;
  flex:1;
  margin-top: 50px;
}

main {
  background: skyblue;
  flex: 1;
}

nav {
  background: tomato;
  width: 100px;
  order: -1;
}

aside {
  background: orange;
  width: 100px;
}

footer {
  background:grey;
} */

body {
  margin: 0;
}

header {
  height: 200px;
  background: silver;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

div{
  width: 50px;
  height: 100px;
  background:skyblue;
  /* position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 50px); */

}