ul {
  /* list-style-type:circle;
  list-style-position: inside;
  list-style-image: url(../img/icon.png) */
  list-style:circle inside url(../img/icon.png);
}

ol {
  list-style-type: lower-alpha;
  list-style: inside;
  /* list-style-type: none; */
}

.info {
  color:skyblue;
}

.box1 {
  background-color:orange;
  width:100px;
  height:100px;
  /* margin-bottom:20px; */
  /* margin: 0 0 20px;
  margin-left:auto;
  margin-right:auto; */

}

.box2 {
  background-color: skyblue;
  width:100px;
  height:100px;
  /* position:static; */
  position:relative;
  /* position:fixed;
  top:30px;
  left:30px; */
  /* width:50%;
  height:50%; */
  /* border-width:2px;
  border-style:solid;
  border-color:blue; */
  /* border:2px solid blue;
  padding-top:20px;
  padding-left:40px; */
  /* border:2px dashed blue; */
  /* border-top:2px solid blue;
  border-bottom:2px solid blue; */
  /* border:2px solid blue; */
  /* border-bottom:none; */
  /* border-radius:10px; */
  /* overflow: hidden; */
  /* overflow: scroll; */
}

.box3 {
  background-color:tomato;
  width:100px;
  height:100px;
  /* width:100px;
  height:40px;
  /* display:inline-block; */
}

.rect {
  width:50px;
  height:20px;
  background-color: lime;
  position: absolute;
  top:-5px;
  right:-5px;
}